::-moz-selection {color:black;background:#FEE800;}
::selection {color:black;background:#FEE800;}
* {margin:0;padding:0;box-sizing:border-box;-webkit-transition: all 1s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
img {border:none;}

body {font-size:100%;font-family:Arial, sans-serif;color:black;}
.loader-canvas {-webkit-transition:none;-moz-transition: none;-o-transition:none;transition:none;background-color:#57068C;width:100%;height:100%;position:absolute;top:0;left:0;z-index:99999;}
.loader {position:fixed;z-index:100;left:50%;top:50%;margin-left:-20px;transition: all .5s;-webkit-animation: loaderSpin 2s infinite; /* Chrome, Safari, Opera */animation: loaderSpin 2s infinite;}

h1, h2, h3, h4, h5, h6 {font-weight:400;color:black;margin-bottom:0.5em;font-family:"Fjalla One", sans-serif;}
h1 {font-size:6vw;}
h2 {font-size:24px;text-align:center;border-top:2px solid black;padding-top:0.5em;margin-bottom:0.5em;text-transform:uppercase;width:60%;margin:0 auto;max-width:780px;}
h2 strong {font-weight:300;}
h3 {font-size:20px;color:white;}
p {font-size:18px;margin-bottom:32px;line-height:32px;font-family:Georgia, "Times New Roman", Times, serif;}
button {cursor:pointer;text-transform:uppercase;color:white;font-family:"Fjalla One", sans-serif;font-weight:normal;background:transparent;border:solid 3px white;}
a {color:black;text-decoration:none;}
a:hover {color:#57068C;}
p a:hover {background-color:#57068C;color:black;}

.flexbox {display:-webkit-flex;display:-ms-flexbox;display:flex;overflow:hidden;}

nav.breadcrumb {position:fixed;right:2em;top:45%;height:1px;font-size:12px;}
nav.breadcrumb a {width:1em;height:1em;display:block;background-color:white;margin-bottom:0.5em;padding:0.2em;border-radius:100%;border:solid 2px white;text-align:right;position:relative;text-indent:99999px;overflow:hidden;}
nav.breadcrumb a:hover, nav.breadcrumb a.selected {background-color:black;}

/* Sections */
section {float:left;width:100%;padding:5%;overflow:hidden;}

header {background-color:#57068C;overflow:hidden;position:relative;padding:0;}
header div {width:45%;height:auto;float:right;flex:1;position:relative;}
header div img {width:auto;height:100%;position:absolute;bottom:0;}
header div.intro {float:left;width:55%;padding:5%;color:white;}
header div.intro h1 {float:left;text-transform:uppercase;text-align:left;padding:0.1em 0;color:white;position:relative;width:100%;}
header div.intro h1 img {width:40%;height:auto;position:inherit;margin-left:1%;display:block;}
header div.intro h1 small {font-size:1.4vw;color:white;background-color:#57068C;position:absolute;bottom:-10%;left:20%;width:60%;text-align:center;}
header div.intro h1 small a {color:white;}
header div.intro h1 small a:hover {color:black;}
header div.intro h1 s {display:none;}
header div.intro p {float:left;width:100%;font-style:italic;font-size:2.6vw;line-height:3.6vw;}
header div.intro p a {font-family:"Fjalla One", sans-serif;}
header div.intro p strong {font-weight:normal;}
header div.intro button {width:auto;font-size:2.4vw;padding:2% 10%;margin-top:0.5em;}
header div.intro button:hover {border-color:#FEE800;color:#FEE800;}
header div.intro a.animated {float:right;margin-right:-30px;margin-top:50px;font-size:12px;text-align:center;}
header div.intro a.animated i {display:block;font-size:4vw;color:white;}
header div.intro a.animated:hover i {color:#FEE800;}

#personal {background-color:white;padding:5%;color:white;}
#personal h2 {color:black;border-color:black;margin-bottom:5%;}
#personal li {margin-bottom:2em;position:relative;display:inline;float:left;width:20%;height:auto;background-position:center center;background-repeat:no-repeat;background-size:cover;overflow:hidden;}
#personal li.half {width:50%;}
#personal li.sixty {width:60%;}
#personal li.full {width:100%;}
#personal li.full.quarter {width:80%;}
#personal li.third {width:33%;}
#personal li a {background-color:#2F2F2F;width:100%;height:18vw;text-align:center;padding:5%;display:block;background-repeat:no-repeat;background-position:0 -1000px;background-size:100%;}
#personal li:nth-child(even) a {background-color:#666;}
#personal li a:hover {background-color:#57068C;}
#personal li a strong {color:white;display:block;font-size:2em;font-family:Georgia, "Times New Roman", Times, serif;font-weight:normal;font-style:italic;margin-top:40%;}
#personal li a hr {width:10%;margin:0.5em auto 1em auto;border:none;border-top:2px solid #57068C;}
#personal li a:hover hr, #personal li a:focus hr {width:50%;border-color:#FEE800;}
#personal li a small {opacity:0;font-size:1.2em;color:white;}
#personal li a small img {display:block;opacity:0;margin:0 auto;}
#personal li a span.number {color:white;position:absolute;right:5%;top:5%;font-size:2em;font-family:"Fjalla One", sans-serif;font-weight:normal;font-style:italic;}
#personal li a:hover, #personal li a:focus {background-position:0 0;}
#personal li a:hover strong, #personal li a:focus strong {margin-top:15%;}
#personal li a:hover small, #personal li a:focus small {opacity:1;margin:0;}
#personal li a:hover small img {opacity:1;}

#personal li.expand-mobile a strong {margin-top:15%;}
#personal li.expand-mobile a:hover strong, #personal li.expand-mobile a:focus strong {margin-top:0% !important;}

#personal li.half a {text-align:left;}
#personal li.half a strong {margin-top:2%;color:black;}
#personal li.half a:hover strong {margin-top:0%;}

#personal li.sixty a {text-align:left;background-color:white;border:solid 1px black;border-right:none;border-left:none;}
#personal li.sixty a strong {margin-top:3%;color:black;quotes:"“" "”";}
#personal li.sixty a strong:before {font-size:3em;content:open-quote;position:absolute;top:2%;left:2%;}
#personal li.sixty a:hover hr, #personal li.sixty a:focus hr {width:100%;}

#personal li.full a {text-align:left;background-color:#57068C;}
#personal li.full a strong {margin-top:0%;quotes:"“" "”";}
#personal li.full a strong:before {font-size:3em;content:open-quote;position:absolute;top:2%;;left:2%;}
#personal li.full a hr {width:60%;margin:0.5em 0 1em 0;border:none;border-top:2px solid white;}
#personal li.full a:hover hr, #personal li.full a:focus hr {width:100%;}

#personal li.sixty a span.number {color:black;right:2%;}
#personal li.full a span.number {right:2%;}

/* Bottom */
footer {text-align:center;background-color:#2F2F2F;color:white;float:left;width:100%;padding:3% 5%;}
footer a {display:block;color:white;}
footer nav {font-size:40px;}
footer nav a {display:inline;text-decoration:none;}
footer a:hover {color:#FEE800;}

/* Media Queries */
/* Smaller Screens ----------- */
@media only screen and (max-width:1023px){
	nav.breadcrumb {right:0.8em;}
	
	section {padding:10%;}
	
	header.flexbox {display:-webkit-block;display:-ms-block;display:block;overflow:hidden;}
	
	header div {width:100%;height:auto;float:left;flex:none;position:relative;height:80%;}
	header div img {width:100%;height:auto;position:absolute;bottom:-50%;left:2%;}
	header div.intro.col {width:100% !important;float:left;height:40%;margin-top:0;}
	header div.col {margin-top:115%;}
	header div.intro p {font-size:36px;line-height:38px;margin-bottom:0;text-align:center;}
	header div.intro p strong {display:block;}
	header div.intro button {width:100%;font-size:28px;}
	header div.intro h1 {font-size:12vw;}
	header div.intro h1 img {margin-left:0%;}
	header div.intro h1 small {font-size:18px;width:60%;margin-left:0%;bottom:-10%;}
	header div.intro a.animated {display:none}
	
	#personal h2 {margin:6% auto 10% auto;}
	#personal li {width:50%;}
	#personal li a {height:38vw;}
	
	#personal li.expand-mobile, #personal li.half, #personal li.sixty, #personal li.full, #personal li.full.quarter, #personal li.third {width:100%;}

	#personal li.sixty a strong:before,	
	#personal li.full a strong:before {display:none;}
	#personal li.sixty a,
	#personal li.full a {height:auto;}
}

/* Smaller Screens ----------- */
@media only screen and (max-width:1024px) and (orientation:landscape){
	header div.intro h1 img {margin-left:0%;}
	
	#personal li a strong {font-size:1.4em;}
	#personal li a small {font-size:1em;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width:320px) and (max-width:480px){
	body {font-size:80%;}

	nav.breadcrumb {right:0.8em;display:none;}
	
	h1 {font-size:40px;}
	h2 {font-size:20px;text-align:center;width:90%;}
	h3 {font-size:18px;}
	#bio p.intro, #recent-work p, #stats p {width:90%;}
	
	section {padding:10%;}
	
	header.flexbox {display:-webkit-block;display:-ms-block;display:block;overflow:hidden;}
	
	header div.intro.col {width:100% !important;float:left;height:auto;margin-top:0;}
	header div.col {margin-top:0;}
	header div {width:100%;height:auto;float:left;flex:none;position:relative;height:240px;}
	header div img {width:100%;height:auto;position:absolute;bottom:-40%;left:0%;}
	header div.intro {width:100%;float:left;}
	header div.intro p {font-size:18px;line-height:24px;margin-bottom:0;text-align:center;padding:0;}
	header div.intro button {width:90%;font-size:28px;margin-left:5%;}
	header div.intro h1 {text-align:center;}
	header div.intro h1 img {margin-left:0%;}
	header div.intro h1 small {font-size:12px;width:80%;margin-left:-10%;bottom:-15%;}
	header div.intro a.animated {display:none}
	
	#personal {padding:5% 10% 10% 10%;}
	#personal h2 {margin:6% auto 10% auto;}
	#personal li {width:50%;}
	#personal li a strong {font-size:1.4em;}
	#personal li a:hover strong, #personal li a:focus strong {margin-top:15%;}
	#personal li.expand-mobile, #personal li.half, #personal li.sixty, #personal li.full, #personal li.full.quarter, #personal li.third {width:100%;}
	#personal li.sixty a:hover strong, #personal li.sixty a:focus strong,
	#personal li.full a:hover strong, #personal li.full a:focus strong {margin-top:2%;}
	
	#personal li.expand-mobile a:hover strong, #personal li.expand-mobile a:focus strong {margin-top:0% !important;}
	
	footer {padding:5% 10%;}
	footer a.phone {width:100%;font-size:28px;border:solid 3px white;margin:0.5em 0;padding: 2% 10%;font-family: "Fjalla One", sans-serif;font-weight: normal;}
	footer a {font-size:18px;}
}

@media only screen and (min-width:375px) and (max-width:667px){	
	header.flexbox {display:-webkit-block;display:-ms-block;display:block;overflow:hidden;}
	
	header div {width:100%;height:auto;float:left;flex:none;position:relative;height:80%;}
	header div img {width:100%;height:auto;position:absolute;bottom:-40%;left:0%;}
	header div.intro.col {width:100% !important;float:left;height:40%;margin-top:0;}
	header div.col {margin-top:115%;}
}

@media only screen and (orientation:portrait){
	header div.intro button {padding: 2% 5%;}
	header div.intro h1 {text-align:center;}
	header div.intro h1 img {margin:0 auto;text-align:center;}
	.img-desktop, header div img.profile-id {display:none;}
	header div img.mobile-only {display:block;position:inherit;width:80%;height:auto;margin:0 auto;}
}

.mobile-only {display:none;}

/*Animations*/
a.bounce {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
	-webkit-animation-delay: 4s;
			animation-delay: 4s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes loaderSpin {
    0%   {
	   	-ms-transform: rotate(0deg); /* IE 9 */
	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	    transform: rotate(0deg);
    }
    100% {
    		   	-ms-transform: rotate(360deg); /* IE 9 */
	    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	    transform: rotate(360deg);
	}
}

/* Standard syntax */
@keyframes loaderSpin {
    0%   {
	   	-ms-transform: rotate(0deg); /* IE 9 */
	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	    transform: rotate(0deg);
    }
    100% {
    	-ms-transform: rotate(360deg); /* IE 9 */
	    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
	    transform: rotate(360deg);
	}
}

